{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'time_fav.png' %}">
		<title>Timeshift</title>
		<!-- Не могу загрузить скрипт из файла-->
		<script type="text/javascript" src={% static "clock.js" %}></script>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main class="main">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>