{% extends 'base.html' %}
{% block content %}
<div class="wrapper ">
  <p class="cityname"><b>{{ name }}</b> - точное время</p>
  <p class="time">{{ time }}</p>
  <p class="date">{{ date }}.</p>
  <div class="city">
    <div class="more_info">
      <a href="{% url 'all' %}"><b>Все города</b><br>Узнать</a>
    </div>
    <div class="cities">
      <a href="#"><b>Нью-Йорк</b><br>Узнать</a>
      <a href="#"><b>Лондон</b><br>Узнать</a>
      <a href="#"><b>Берлин</b><br>Узнать</a>
      <a href="#"><b>Москва</b><br>Узнать</a>
      <a href="#"><b>Токио</b><br>Узнать</a>
    </div>
  </div>
</div>
{% endblock %} 