{% extends 'base.html' %}
{% block content %}
<div class="wrapper ">
	<p hidden id="offset">{{ offset }}</p>
  {% if not offset %}
    <p class="cityname">Город <b>{{ name }}</b> не найден</p>
		<p class="time">--:--:--</p>
		<p class="date">{{ date }}</p>
	{% else %}
	<p class="cityname"><b>{{ name }}</b> - точное время</p>
		<p class="time">
			<rb id="hours"></rb>:<rb id="minutes"></rb>:<rb id="seconds"></rb>
		</p>
	{% endif %}
  <p class="date">{{ date }}</p>
  <div class="city">
    <div class="more_info">
      <a href="{% url 'all' %}"><b>Все города</b><br>Узнать</a>
    </div>
    <div class="cities">
      <a href="#"><b>Нью-Йорк</b><br>Узнать</a>
      <a href="#"><b>Лондон</b><br>Узнать</a>
      <a href="#"><b>Берлин</b><br>Узнать</a>
      <a href="#"><b>Москва</b><br>Узнать</a>
      <a href="#"><b>Токио</b><br>Узнать</a>
    </div>
  </div>
</div>
{% endblock %} 
